/* CUSTOM PROPS */
:root {
  --gradient: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  --green: #30C88f;
  --black: #2d314d;
  --gray: #9597a5;
  --font: "Public Sans", "Arial", sans-serif;
}

/* FONTS */
@font-face {
  font-family: 'Public Sans';
  src: url('../font/PublicSans-Regular.woff2') format('woff2'),
    url('../font/PublicSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../font/PublicSans-Thin.woff2') format('woff2'),
    url('../font/PublicSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../font/PublicSans-Medium.woff2') format('woff2'),
    url('../font/PublicSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.25px;
  font-size: 16px;
  background-color: #fff;
  color: var(--gray);
  overflow-x: hidden;
}

.container {
  max-width: 100%;
  width: 1160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  flex-grow: 1;
}

/* BUTTON */
.button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 22px;
  background-color: var(--green);
  background-image: var(--gradient);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 36px;
  padding-left: 33px;
  color: #fff;
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
  transition: opacity 0.4s ease;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.4;
}

/* HEADER */
.header {
  background-color: #fff;
  position: relative;
  z-index: 10;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  width: 139px;
  height: 20px;
  object-fit: contain;
}

.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.sitenav__item:not(:last-child) {
  margin-right: 30px;
}

.sitenav__link {
  display: flex;
  text-decoration: none;
  color: var(--gray);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.108px;
  transition: all 0.4s ease;
}

.sitenav__link::after {
  content: "";
  position: absolute;
  display: none;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--green);
  background-image: var(--gradient);
}

.sitenav__link:hover {
  cursor: pointer;
  color: var(--black);
}

.sitenav__link:active {
  opacity: 0.6;
}

.sitenav__link:hover::after {
  display: block;
}


/* SITE-HERO */
.hero {
  position: relative;
  z-index: 5;
  padding-top: 170px;
  padding-bottom: 170px;
  background-image: url(../img/hero-bg-desktop.svg);
  background-repeat: no-repeat;
  background-position: left calc(50% + 597px) top -261px;
}

.hero__content {
  max-width: 447px;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 56px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--black);
}

.hero__text {
  margin-top: 0;
  margin-bottom: 36px;
  color: var(--gray);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.281px;
}

.hero__img {
  position: absolute;
  top: -100px;
  left: calc(50% + 100px);
  width: 728px;
  height: 900px;
}


/* SITE-FEATURE */
.feature {
  padding-top: 96px;
  padding-bottom: 94px;
  background-color: #f4f5f7;
}

.feature__heading {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--black);
  font-size: 40px;
  font-style: normal;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -0.714px;
}

.feature__text {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--gray);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.281px;
}

.feature__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.feature__item:not(:last-child) {
  margin-right: 52px;
}

.feature__img {
  margin-bottom: 40px;
  width: 72px;
  height: 72px;
  object-fit: contain;
  border-radius: 50%;
}

.feature__item-title {
  margin-top: 0;
  margin-bottom: 26px;
  color: var(--black);
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: -0.429px;
}

.feature__item-text {
  margin: 0;
  color: var(--gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.25px;
}

/* ARTICLES */
.articles {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
}

.articles__heading {
  margin-top: 0;
  margin-bottom: 40px;
  color: var(--black);
  font-size: 40px;
  font-style: normal;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -0.714px;
}

.articles__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.articles__item:not(:last-child) {
  margin-right: 30px;
}

.article {
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}

.article__img {
  width: 255px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.article__inner {
  padding: 24px;
}

.article__name {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--gray);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.156px;
}

.article__title-link {
  margin-top: 0;
  margin-bottom: 8px;
  display: inline-block;
  text-decoration: none;
  max-width: 207px;
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: -0.286px;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.article__title-link:hover {
  color: var(--green);
}

.article__title-link:active {
  opacity: 0.6;
}

.article__description {
  margin: 0;
  max-width: 207px;
  color: var(--gray);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.203px;
}

/* FOOTER */
.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #2d314d;
}

.footer__container {
  display: flex;
}

.footer__logo-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 131px;
}

.footer__logo {
  margin-bottom: 24px;
}

.socials {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.socials__item:not(:last-child) {
  margin-right: 13px;
}

.socials__link {
  display: flex;
}

.socials__icon {
  color: #fff;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.socials__icon:hover {
  color: var(--green);
}

.socials__icon:active {
  opacity: 0.6;
}

.footer__list-wrapper {
  display: flex;
  margin-right: auto;
}

.footer__list {
  flex-shrink: 0;
  width: 100%;
  max-width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__list:not(:last-child) {
  margin-right: 30px;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__link {
  display: inline-block;
  color: #fff;
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.234px;
  text-decoration: none;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.footer__info-text {
  margin-bottom: 0;
  color: #fff;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.234px;
}